.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
  left: 0;
}

.nav-item.dropdown:hover>.dropdown-menu li {
  position: relative;
}

.dropdown-item.dd::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  position: absolute;
  top: 14px;
  right: 9px;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}